/* PricingPage.css */
.pricing-page {
	padding: 40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	/* align-items: center;  */
	margin: 0 auto;
}
  
.pricing-page-title {
	font-size: 2.5rem;
	margin-bottom: 40px;
}
  
.pricing-cards-container {
	display: flex;
	/* justify-content: center;  */
	/* align-items: center; */
	gap: 25px; /* Spacing between cards */
	flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
	max-width: 1200px;
	/* margin: 0 auto;  */
	width: 100%; /* Ensures the container uses full width */
}
