
.legend {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 2000;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #333;
  }
  
  .legend-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #ccc; /* Optional border for better visibility */
  }
  
  @media (max-width: 768px) {
    .legend {
      bottom: 10px;
      right: 10px;
      padding: 8px;
      font-size: 0.8rem; /* Adjust font size for smaller screens */
    }
  
    .legend-item {
      margin-bottom: 3px;
    }
  
    .legend-color {
      width: 15px;
      height: 15px;
    }
  }
  