.map-container {
  position: relative;
  width: 100%;
  /* Adjust for more space for filters */
  height: calc(100vh - 29vh);
}

.super-container {
  position: relative;
}

.popup-title {
  background-color: #f0f0f0;
  color: #333;
  padding: 4px 8px;
  border-bottom: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.popup-content {
    padding: 8px;
    white-space: pre-wrap;
  }

.popup {
  position: absolute;
  width: 300px;
  background-color: white;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  color: #333333;
  white-space: nowrap;
  transform: translate(-50%, -100%);
  z-index: 2000;
}

.return-to-map-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #01E6E6;
  color: black;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  z-index: 1000; /* Ensure the button is above the map */
}
