.small-image-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100rem;
  margin: 2rem auto; /* 2rem top and bottom margins, auto left and right margins */
  /* gap: 2rem; */
  padding: 1rem 2rem;
  /* border: 1px solid #ccc; */
  /* border-radius: 10px; */
  /* background-color: #f9f9f9; */
}

/* flex-grow: 0 - The item will not grow to fill available space beyond its flex-basis. */
/* flex-shrink: 0 - The item will not shrink below its flex-basis. -> with 1 it will shrink */
/* flex-basis: 40% - The initial size of the item is set to 50% of the container's main size. */
.small-image-with-text .image {
  flex: 0 1 40%; 
  max-width: 18rem;
  min-width: 12rem;
  height: auto;
  max-height: 17rem;
  object-fit: cover;
  border-radius: 10px;
  order: 1;
}

.small-image-with-text .text-content {
  flex: 0 1 60%;
  max-width: 50rem;
  padding: 0 2rem;
  order: 2;
  color: white;
}

.small-image-with-text.reverse .image {
  order: 2;
}

.small-image-with-text.reverse .text-content {
  order: 1;
  color: white;
}

.small-image-with-text p {
  font-size: 1.5rem;
  line-height: 1.4;
  /* font-weight: 600; */
  text-align: left;
}


/* for Tablets */
@media (max-width: 1200px) {

  .small-image-with-text {
    margin: 1rem auto;
  }

  .small-image-with-text .image,
  .small-image-with-text.reverse .image {
    max-width: 16rem;
  }

  .small-image-with-text p {
    font-size: 1.3rem;
    line-height: 1.4;
    /* font-weight: 600; */
    text-align: left;
  }
}


/* for Phones*/
@media (max-width: 768px) {
  .small-image-with-text,
  .small-image-with-text.reverse {
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    /* gap: 1rem; */
  }

  .small-image-with-text .image,
  .small-image-with-text.reverse .image {
    order: 1;
    width: 100%; /* Ensure the image spans the full width */
    max-width: 90%; /* Limit the image width to 90% of the container */
    margin-bottom: 1rem;
  }

  .small-image-with-text .text-content,
  .small-image-with-text.reverse .text-content {
    order: 2;
    width: 100%;
    max-width: 90%; /* Limit the width of the text */
    padding: 0;
    text-align: left;
  }

  .small-image-with-text p {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 500;
  }
}
