.upload-preview {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: space-between;
  padding: 10px;
  gap: 0.5rem;
  width: 90vw;
  height: 30vh;
  border: solid 1px var(--accent-color);
}

.preview-uploaded-image {
  width: 25vw;
  height: calc(100% - 5px);
  border: solid 1px var(--accent-color);
}

.image-row {
  display: flex; /* Use Flexbox for layout */
  align-items: center; /* Vertically align items */
  justify-content: center;
  height: 100%;
  gap: 10px; /* Add spacing between elements */
}

.ai-output {
    width: 25vw;
    height: calc(100% - 5px);
    border: solid 1px var(--accent-color);
    padding: 10px;
    box-sizing: border-box;
}
