#ai-upload-portal {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#upload-button {
  display: none;
}

#custom-button {
  padding: 20px 60px 20px 60px;
  border-radius: 100px;
  background-color: lightgray;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: black;
  display: flex;
  gap: 0.5rem;
}

.spacer {
  padding: 20px;
}

.status-message {
  font-size: 2em;
  color: #555;
  font-weight: bold;
  text-align: center;
}
