.transaction-status-message {
    margin: auto;
    width: 100vh;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    border-radius: 10px;
    padding: 50px;
}

.transaction-status-message h1 {
    margin-bottom: 20px;
}

.need-help-message {
    display: inline-block;
    margin-bottom: 10px;
}
